:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #BABABA;
  --off-white: #faf8f7;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header {
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 330px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #c422e4c4 100%);
}
header img {
    width: 150px;
    height: 150px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container {
    width: 90%;
    min-height: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 42px;
    text-align: center;
    align-self: center;
}
.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: white;
}
.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    color: var(--soft-orange)
}
.header--title-container .header--button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73 ,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    top: calc(100% - 54px);
	left: calc(50% - 114.5px);
    
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");

}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white)
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-Img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: black
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--black)
}

.main-currency-table {
    width: 260px;
    min-width: 236px;
    max-width: 500;
    height: 360;
}


.main-tables-container {
    display:flex;
    justify-content: center;
    margin: 0 auto;

}
.currency-table-container {
    display:flex;
}
table {
    background: white;
    width: 250px;
    height: 150px;
    color: rgba(122, 117, 117, 0.986)
}
table td {
    border-bottom: 1px solid rgb(221, 221, 221)
}
.currency-table-date {
 color: black;
 font-weight: bold;
 background: rgb(245, 224, 185);
 height: 33px;
 width: 185px;
 padding-top: 10px;
 margin-left: 30px;
 border-radius: 7px
}
p.currency-table-title {
    color: orange;
    font-size: 20px;
    line-height: 2.3rem;
    font-weight: bold;
    margin: 0 100px 10px 0
}
.main-currency-table{
    margin-bottom: 20px;
}